@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Montserrat;
}
nav{
    display: flex;
    background-color: #1c2833;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    padding: 0 50px 0 80px;
    align-items: center;

}

.logo{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
nav ul{
    display: flex;
}
nav ul li {
    list-style: none;
    margin: 0 8px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 7px 13px;
    border-radius: 3px;
    transition: 0.5;
    text-transform: uppercase;
    
    
}
nav ul li a:hover , ul li a.active{
    background-color: #566573;
}
.menu-btn{
    color: white;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}

/* hero section code start */

    .hero-section{
        background-image: url(/assets/image/banner.jpg);
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    
    }

/* first seciton start */

#second-section{
    background-color: #16213e;
    padding-bottom: 100px;
}
.service-title{
    text-align: center;
    color: white;
    padding: 50px;
    letter-spacing: 0.5;
    font-size: 28px;
}
.service-parent{
    width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.single-service{
    background-color: white;
    color: black;
    text-align: center;
    padding: 30px 20px;
    border-radius: 5px;
    border: 3px solid green;
    box-shadow: 5px 5px 10px gray;
}
.single-service i {
    font-size: 40px;
}
.single-service h2{
    margin: 10px 0;
    font-weight: bold;
}


/* third section of main tag code start */

#third-section{
    background-color: #24507a;
    padding: 50px 0 100px 0;
}

.smart-title{
    text-align: center;
    color: yellow;
    font-size: 35px;
    letter-spacing: 0.2em;
    margin-bottom: 30px;
}
.smart-parent{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
}
.smart-text{
    color: white;
}
.smart-text h2{
    margin: 20px 0;
    font-size: 30px;
}
.smart-parent a{
    text-decoration: none;
    font-size: 22px;
    background-color: antiquewhite;
    color: black;
    padding: 10px 30px;
    border-radius: 5px;
    margin-top: 40px;
    display: inline-block;
}










/* Responsiv work start */
@media only screen and (max-width: 940px){
    .menu-btn{
        display: block;
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: black;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 20px 0;
        transition: all 0.5s ease;

    }
    #click:checked ~ .menu-btn i::before{
        content: "\f00d";
    }

    #click:checked ~ ul {
        left: 0%;

    }
    nav ul li {
        margin: 30px 0;
    }
    nav ul li a{
        font-size: 22px;
    }
    nav ul li a:hover ,nav ul li a.activ{
        background: none;
        color: red;
    }
}

/* first section of main tag media query code start/ */

@media only screen and (max-width: 688px){
    .service-parent{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
        width: 100%;
    }

    .smart-parent{
    display: block;
    margin-left: 70px;
    margin-right: 70px;
}

.smart-img img{
    width: 100%;
    margin-bottom: 50px;
}



}

@media only screen and (max-width: 689px) and (max-width: 1099px) {
    .service-parent{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        width: 100%;
    }


    .smart-parent{
    display: block;
    margin-left: 70px;
    margin-right: 70px;
}

.smart-img img{
    width: 100%;
    margin-bottom: 50px;
}

    
}
